## 30908_서혜민_0520_1

In [9]:
olympic =[[1,'미국',46,37,38,121],
         [2,'영국',27,23,17,67],
         [3,'중국',26,18,26,70],         
         [4,'러시아',19,18,19,56],
         [5,'독일',17,10,15,42],
         [6,'일본',12,8,21,41],
         [7,'프랑스',10,18,14,42],
         [8,'대한민국',9,3,9,21]]

In [4]:
#미국, 독일 금메달 개수 출력
print(olympic[0][1],'금매달 개수 : ',olympic[0][2])
print(olympic[4][1],'금매달 개수 : ',olympic[4][2])

미국 금매달 개수 :  46
독일 금매달 개수 :  17

In [6]:
#금메달보다 은메달이 더 많은 나라 출력
print('금메달보다 은메달이 더 많은 나라')
for row in olympic:
    if row[2]<row[3]:
        print(row[1])

금메달보다 은메달이 더 많은 나라
프랑스

In [7]:
#금메달보다 동메달이 더 많은 나라
print('금메달보다 동메달이 더 많은 나라')
for row in olympic:
    if row[2]<row[4]:
        print(row[1])

금메달보다 동메달이 더 많은 나라
일본
프랑스

In [10]:
#금메달의 전체 개수를 출력하기
print('금메달의 전체 개수')
total_gold = 0
for row in olympic:
    total_gold += row[2]
    
print(total_gold)

금메달의 전체 개수
166

In [12]:
import random

book_name = ["역사탐험대","파이썬","학습법","영단어","여행에세이","삼국지"]
book_price=[]

for i in range(len(book_name)):
    book_price.append(random.randint(15000,25000))
    
print(book_name)
print(book_price)

['역사탐험대', '파이썬', '학습법', '영단어', '여행에세이', '삼국지']
[20389, 15547, 24093, 19904, 16166, 18929]

In [13]:
#가장 비싼 책
print("가장 비싼 책?")
expensive = max(book_price)
idx = book_price.index(expensive)
print(book_name[idx])

가장 비싼 책?
학습법