30908_서혜민_0327_4

In [4]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합께와 평균을 구합니다.')

a = int(input('1번 학생의 점수를 입력하세요.: '))
b = int(input('2번 학생의 점수를 입력하세요. : '))
c = int(input('3번 학생의 점수를 입력하세요. : '))
d = int(input('4번 학생의 점수를 입력하세요. : '))
e = int(input('5번 학생의 점수를 입력하세요. : '))

total = 0
total += a
total += b
total += c
total += d
total += e

print(f'합계는 {total}점 입니다.')
print(f'평균은 {total/5}점 입니다.')

학생 그룹 점수의 합께와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 87
2번 학생의 점수를 입력하세요. : 52
3번 학생의 점수를 입력하세요. : 36
4번 학생의 점수를 입력하세요. : 41
5번 학생의 점수를 입력하세요. : 78
합계는 294점 입니다.
평균은 58.8점 입니다.

- 배열 : 묶음 단위로 값을 저장하는 자료구조
  - 원소 : 배열에 저장된 각 객체
  - 각 원소는 0,1,------ 순서대로 인덱스(주소)를 부여받음
  - 원소의 자료형은 int형 float형 어떤것도 상관없음
  - 서로 다른 자료형을 같이 저장할 수 있음
  - 배열 원소 자체를 배열에 저장할 수도 있음

In [5]:
# list 선언
list01 = [] # 빈리스트
a = [1,2,3,4,5]
b = ['A','B','C']

print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'B', 'C']

- 튜플
  - 원소에 순서를 매겨 결합한 것으로 원소를 변경할 수 없는 자료형
  -()만 사용하면 빈 튜플 생성

In [6]:
tuple01 = () #빈튜플
tuple02 = 1,2,3,4,5
tuple03 = 'A','B','C'

print(tuple01)
print(tuple02)
print(tuple03)

()
(1, 2, 3, 4, 5)
('A', 'B', 'C')

In [10]:
a = tuple(range(3,13,2))
print(a)

(3, 5, 7, 9, 11)